
.ContactSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 15%;
    border: 10px solid #765D43;
    overflow: hidden;
    padding: 0 5vw; 
}

.ContactBox {
    width: 80%; 
    max-width: 900px; 
    height: auto;
    background-color: #ffffff;
    margin-top: 17%;
    border-radius: 10px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.IconImg {
    height: 20%; 
    max-height: 120px; 
}

.TextBox_2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.LittleTitle {
    color: #828282;
    font-size: 1vw; 
}

.contact-link {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1vw; 
}

.contact-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .ContactSection {
        justify-content: flex-start;
    }

    .ContactBox {
        width: 90%;
        height: auto;
        margin-top: 10%; 
    }

    .IconImg {
        height: 25%;
        max-height: 100px;
    }

    .TextBox_2 {
        margin-top: 5%;
    }

    .LittleTitle {
        font-size: 4vw; 
    }

    .contact-link {
        font-size: 2vw; 
    }
}

@media (max-width: 480px) {
    .ContactSection {
        gap: 5%; /* 더 좁은 화면에서는 여백을 줄여서 맞춤 */
    }

    .ContactBox {
        width: 95%;
        margin-top: 5%; /* 여백을 더 줄임 */
    }

    .IconImg {
        height: 30%; 
    }

    .TextBox_2 {
        margin-top: 2%;
    }

    .LittleTitle {
        font-size: 5vw; 
    }

    .contact-link {
        font-size: 3vw; 
    }
}
