.light-container {
    width: 100%;
    height: 100%;
}

.light-wrapper {
    position: relative;
    width: 100%;
    height: 200%;
}
.light-body {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 137px;
    background-color: #7e7e7e;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 3000;
}
.light-outline {
    position: absolute;
    top: -0.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 147px;
    background-color: #000000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 2999;
}
.light-bulb {
    position: absolute;
    top:70px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff186;
    border: 4px solid black;
    z-index: 1000;
}
.light-beam {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 1400px;
    background-color: rgb(255, 241, 134, 0.2);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 2000;
    pointer-events: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  .light-wrapper {
    top: -20px;
    transform: scale(0.8);
    z-index: 3000;
  }
}