.room {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}
.room::before {
  content: "";
  position: absolute;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* 어둡게 */
  backdrop-filter: blur(3px); /* 흐림 */
  pointer-events: none;
  z-index: 2;
}
body.light-on .room::before {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: none;
}

.room .door-container {
    width: auto;
    transform: scale(0.9); /* 크기 줄이기 */
    transform-origin: center bottom; 
}   

@media (min-width: 1025px) and (max-width: 1280px) {
  .room .door-container {
    transform: scale(0.8);
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientaiton: landscape) {
  .room .door-container {
    transform: scale(0.7);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .room .door-container {
    transform: scale(0.6);
    transform-origin: left bottom; 
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .room .door-container {
    transform: scale(0.5);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .room .door-container {
    transform: scale(0.25);
    margin: 0 auto;
    transform-origin: left bottom; 
  }
  .room .board {
    transform: scale(1);
  }
}